/*
    Definition of variables
*/

//  font
$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;


//  colors
$colorVeryDark: #222222;
$colorDark:#555555;
$colorMedium:#888888;
$colorLight:#aaaaaa;
$colorVeryLight: #dddddd;


//  positioning
$maxWidth:1400px;
$innerMargin:2%;
$outterMargin:5%;


//  @media
$smallLimitWidth:710px;
$mediumLimitWidth:800px;


//  header / nav
$headerHeight:80px;
$logoHeight:30px;


//  contact
$socialLinksWidth:7.5;
$socialLinksMargin:3.2;

$linkedinIconRatio:1;
$githubIconRatio:1.0254;
$stackoverflowIconRatio:0.8441;
$mediumIconRatio:1.2596;
$twitterIconRatio:1.2306;
$instagramIconRatio:1;
$telegramIconRatio:1;
$moreIconRatio:0.6388;





/*
    Reset / Common
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
h1 {
    font-size:30px;
    margin: 0;
}
a {
    background-color: transparent;
    text-decoration: none;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}


body{
    font-family: $font;
    color: $colorVeryDark;
    background-color:white;
    margin: 0;
}

.wrapper{
    max-width:$maxWidth;
    margin:0 auto;
}

.container{
    margin:0 auto;
    width: (100% - 2*$outterMargin);
    height:auto;

    &.separator{
        border-bottom: 2px solid darken(white, 2);
    }
}

.content{
    margin:0 $innerMargin;
}

@mixin transition-display{
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
}

@mixin content-responsive{
    float:none;
    width:100%;
    height:auto;
    text-align: center;
    display:block;
}



/*
    Header
*/

header{
    width:auto;
    height:$headerHeight;
    display:block;

    a{
        display:block;
        width: 50px;
        height: 30px;
        padding: ($headerHeight - $logoHeight)/2 0;
        margin:0 auto;

        svg path{

            fill:$colorVeryDark;
        }
    }
}

/*
    About
*/

.about{
    white-space: nowrap;
    font-size: 0;
    padding:30px 0;

    > * {
        vertical-align: middle;
    }

    .hello{
        display: inline-block;
        width:70%;
        height:auto;
        white-space: normal;
        margin-right:10%;

        p{
            font-size:18px;

            a{
                color: $colorLight;
                border-bottom: 1px dashed rgba($colorLight, 0.4);

                &:hover{
                    color: $colorMedium;
                    border-bottom: 1px dashed rgba($colorMedium, 0.4);
                }
            }

            &.margin{
                margin-top:30px;
            }

        }
    }

    .avatar{
        display: inline-block;
        width:20%;
        margin:0;
        padding:0;

        .b,
        .c,
        .g,
        .o,
        .p{
            opacity:0.45;
        }

        .h,
        .j,
        .r{
            opacity:0.75;
        }

        .e{
            opacity:0.2;
        }

        .l,
        .o,
        .r{
            fill:#ab887a;
        }

        .a{
            fill:#f0ccb2;
        }

        .e,
        .q{
            fill:#4e4359;
        }

        .h{
            fill:#ffadab;
        }

        .i{
            fill:#593527;
        }

        .k{
            fill:#444444;
        }

        .d{
            opacity:0.4;
            fill:#e4ae94;
        }

        .m{
            fill:url(#e);
        }

        .n{
            fill:url(#f);
        }

        .p{
            fill:url(#g);
        }

        .b{
            fill:url(#a);
        }

        .c{
            fill:url(#b);
        }

        .g{
            fill:url(#d);
        }

        .f{
            opacity:0.5;
            fill:url(#c);
        }
    }

}

// Responsive about
@media (max-width: $mediumLimitWidth - 1) {

    .about {
    
        .hello{
            @include content-responsive;
        }

        .avatar{
            @include content-responsive;
            max-width: 300px;
            margin:0 auto;
        }
    }

}

/*
    Contact
*/

.contact{
    width: 80%;
    max-width: 550px;
    margin: 60px auto 30px auto;

    a{
        text-decoration: none;
        display:block;
    }

    .scheme{

        svg{
            font-size: 100px;
            line-height: 100px;
        }
    
        svg text{
            @include transition-display;
        }

        .text{
            height: auto;
            position: relative;

            &.email{
                width: 99%;
                margin-left:0.5%;
            }
        
            &.web{
                margin-top:4%;
                width: 59.75%;
                margin-left:39.75%;
            }
        
            &.social{
                width: 44.5%;
                margin-left:27.75%;
            }

            p{
                color:rgba($colorLight, 0.6);
                font-size: 18px;
                text-align: center;
                margin:0;
                @include transition-display;
            }

            .bracket{
                width: 100%;
                height:4px;
                border: 2px solid $colorVeryLight;
                @include transition-display;
            }

            &:hover,
            &.hover{

                .bracket{
                    border: 2px solid $colorLight;
                }
                
                p{
                    color:rgba($colorVeryDark, 0.6);
                }
            }

            &.bottom .bracket{
                border-top: none;
            }
        
            &.top .bracket{
                border-bottom: none;
            }

            &.bottom p{
                margin-top:4px;
            }
        
            &.top p{
                margin-bottom:10px;
            }
        }
    }

    .links{
        text-align: center;
        margin: 70px auto 0 auto;
        font-size: 0;
        width: 100%;
        max-width: 350px;

        span{
            display: inline-block;
            position: relative;
            margin:0 $socialLinksMargin * 1%;
            width:$socialLinksWidth * 1%;
            padding-top: $socialLinksWidth * 1%;

            svg{
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                path,
                circle,
                text{
                    fill:$colorLight;
                    fill-rule:evenodd;
                    @include transition-display;
                }   

                .white{
                    fill:white;
                }        
            }


            &.linkedin{
                padding-left:($linkedinIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;        
                
                &:hover path{
                    fill:#0077B5;
                }
            }

            &.github{
                padding-left:($githubIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;
            
                &:hover path{
                    fill:#1E1D16;
                }
            }

            &.stackoverflow{
                margin-right:$socialLinksMargin+($stackoverflowIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;
            
                &:hover {
                    .gray{
                        fill:#bcbbbb;
                    }
                    .orange{
                        fill:#f48023;
                    }  
                }
            }

            &.medium{
                padding-left:($mediumIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;
            
                &:hover path{
                    fill:#1C1B1A;
                }
            }
            
            &.twitter{
                padding-left:($twitterIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;            
            
                &:hover path{
                    fill:#1DA1F2;           
                }
            }

            &.instagram{
                padding-left:($instagramIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;
            
                &:hover {

                    path,
                    circle{
                        fill:#d6249f;
                        fill:url(#instagram-gradient);
                    } 
                }
            }

            &.telegram{
                padding-left:($telegramIconRatio * $socialLinksWidth - $socialLinksWidth) * 1%;
                &:hover circle{
                    fill:#2ca5e0;
                }
            } 
        } 

        &:hover span svg,
        &.hover span svg,
        {

            path,
            circle,
            text{
                fill:$colorMedium;
                fill-rule:evenodd;
            } 
            .white{
                fill:white;
            }
        }
    }     
}

//  Responsive contact
@media (max-width: $smallLimitWidth - 1) {

    .contact .scheme .text p{
        font-size: 14px;
    }
}

