title David Carvajal | Personal website
meta(name="description", content="Personal page of David Carvajal (@davcd), a passionate Software Engineer. Check my social links or get in touch!")

meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@davcd_")
meta(name="twitter:title" content="David Carvajal | Personal website")
meta(name="twitter:description" content="Personal page of David Carvajal (@davcd), a passionate Software Engineer.")
meta(name="twitter:image" content="https://davcd.com/img/favicon-270.png")

meta(property="og:title" content="David Carvajal | Personal website")
meta(property="og:type" content="article")
meta(property="og:url" content="https://davcd.com/")
meta(property="og:image" content="https://davcd.com/img/favicon-270.png")
meta(property="og:description" content="Personal page of David Carvajal (@davcd), a passionate Software Engineer.")
meta(property="og:site_name" content="davcd.com")

link(rel="icon" href="/img/favicon-32.png" sizes="32x32")
link(rel="icon" href="/img/favicon-192.png" sizes="192x192")
link(rel="apple-touch-icon-precomposed" href="/img/favicon-180.png")
meta(name="msapplication-TileImage" content="/img/favicon-270.png")

link(rel="stylesheet" href="/css/styles.css")
