div(class="hello")
    h1 Hello world, my name is David Carvajal!
    p(class="margin") I am a passionate Software Engineer based in Spain.
    p I live in constant learning, I enjoy acquiring new skills and putting myself to the test.
    p(class="margin") Meet my <a href="https://www.linkedin.com/in/davcd/" target="_blank">skills</a>, know more <a href="https://www.instagram.com/davcd/" target="_blank">about</a> me, take a look at my <a href="https://github.com/davcd" target="_blank">code</a>, check my <a href="https://twitter.com/davcd_" target="_blank">tweets</a> or <a href="mailto:hello&#64;davcd.com">contact</a> me!
