div(id="links" class="links" onmouseover="moverLink()" onmouseleave="moutLink()")
    span(class="linkedin")
        a(href="https://www.linkedin.com/in/davcd/" target="_blank")
            svg(viewBox="0 0 36 36")
                title LinkedIn
                path(d="M33.34,0H2.66A2.63,2.63,0,0,0,0,2.6V33.4A2.63,2.63,0,0,0,2.66,36H33.34A2.63,2.63,0,0,0,36,33.4V2.6A2.63,2.63,0,0,0,33.34,0ZM10.68,30.68H5.33V13.5h5.34ZM8,11.15a3.1,3.1,0,1,1,3.09-3.1A3.1,3.1,0,0,1,8,11.15ZM30.68,30.68H25.34V22.32c0-2,0-4.56-2.77-4.56s-3.2,2.17-3.2,4.41v8.5H14V13.5h5.12v2.35h.07a5.61,5.61,0,0,1,5.05-2.77c5.41,0,6.41,3.56,6.41,8.18Z")
    span(class="github")
        a(href="https://github.com/davcd" target="_blank")
            svg(viewBox="0 0 32.58 31.77")
                title GitHub
                path(d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z")
    span(class="twitter")
        a(href="https://twitter.com/davcd_" target="_blank")
            svg(viewBox="0 0 250 203.14")
                title Twitter
                path(d="M78.62,203.14C173,203.14,224.56,125,224.56,57.2c0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,250,24a102.38,102.38,0,0,1-29.46,8.07A51.47,51.47,0,0,0,243.09,3.72a102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,17.4,9.36,51.33,51.33,0,0,0,33.28,77.83,50.91,50.91,0,0,1,10,71.41v.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,0,180.1a145.21,145.21,0,0,0,78.62,23")
    span(class="instagram")
        a(href="https://www.instagram.com/davcd/" target="_blank")
            svg(viewBox="0 0 503.84 503.84")
                title Instagram
                defs
                    radialGradient(id="instagram-gradient" r="150%" cx="30%" cy="107%")
                        stop(stop-color="#fdf497" offset="0")
                        stop(stop-color="#fdf497" offset="0.05")
                        stop(stop-color="#fd5949" offset="0.45")
                        stop(stop-color="#d6249f" offset="0.6")
                        stop(stop-color="#285AEB" offset="0.9")
                path(d="M251.92,45.39c67.27,0,75.23.26,101.8,1.47,24.56,1.12,37.9,5.22,46.78,8.67a78.05,78.05,0,0,1,29,18.84,78.05,78.05,0,0,1,18.84,29c3.45,8.88,7.55,22.22,8.67,46.78,1.21,26.56,1.47,34.53,1.47,101.8s-.26,75.23-1.47,101.8c-1.12,24.56-5.22,37.9-8.67,46.78a83.43,83.43,0,0,1-47.81,47.81c-8.88,3.45-22.22,7.55-46.78,8.67-26.56,1.21-34.53,1.47-101.8,1.47s-75.24-.26-101.8-1.47c-24.56-1.12-37.9-5.22-46.78-8.67a78.05,78.05,0,0,1-29-18.84,78.05,78.05,0,0,1-18.84-29c-3.45-8.88-7.55-22.22-8.67-46.78-1.21-26.56-1.47-34.53-1.47-101.8s.26-75.23,1.47-101.8c1.12-24.56,5.22-37.9,8.67-46.78a78.05,78.05,0,0,1,18.84-29,78.05,78.05,0,0,1,29-18.84c8.88-3.45,22.22-7.55,46.78-8.67,26.56-1.21,34.53-1.47,101.8-1.47m0-45.39c-68.42,0-77,.29-103.87,1.52S102.93,7,86.9,13.23A123.49,123.49,0,0,0,42.28,42.28,123.49,123.49,0,0,0,13.23,86.9C7,102.93,2.74,121.24,1.52,148.05S0,183.5,0,251.92s.29,77,1.52,103.87S7,400.91,13.23,416.94a123.49,123.49,0,0,0,29.06,44.62A123.49,123.49,0,0,0,86.9,490.62c16,6.23,34.34,10.49,61.15,11.71s35.45,1.52,103.87,1.52,77-.29,103.87-1.52,45.13-5.48,61.15-11.71a128.82,128.82,0,0,0,73.68-73.68c6.23-16,10.49-34.34,11.71-61.15s1.52-35.45,1.52-103.87-.29-77-1.52-103.87-5.48-45.13-11.71-61.15a123.49,123.49,0,0,0-29.06-44.62,123.49,123.49,0,0,0-44.62-29.06C400.91,7,382.6,2.74,355.79,1.52S320.34,0,251.92,0Z")
                path(d="M251.92,122.56A129.36,129.36,0,1,0,381.29,251.92,129.36,129.36,0,0,0,251.92,122.56Zm0,213.34a84,84,0,1,1,84-84A84,84,0,0,1,251.92,335.89Z")
                circle(cx="386.4" cy="117.44" r="30.23")
    span(class="telegram")
        a(href="https://t.me/davcd" target="_blank")
            svg(viewBox="0 0 256 256")
                title Telegram
                circle(cx="128" cy="128" r="128")
                path(class="white" d="m 155.91221,156.28613 c 3.82213,-10.4461 17.81729,-50.17266 20.06432,-60.591798 2.54062,-11.780443 -2.77796,-12.930544 -14.87454,-8.979356 -12.09657,3.951189 -43.11909,15.449414 -48.34049,17.302714 -5.2214,1.8533 -30.641435,10.39687 -35.911664,12.9461 -10.764524,5.77386 -5.528019,14.58535 6.505791,19.16062 35.967683,17.26467 25.754703,8.46685 41.812423,40.41274 3.30464,8.16089 11.09674,22.06171 18.5597,11.55404 3.92326,-5.97624 9.17875,-23.5903 12.18446,-31.80506 z")
